.bg-green {
  background: #064c37 !important;
}

//slider
.container {
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    animation: animate 10s linear infinite;

    .slide {
      position: relative;
      width: 20%;
      height: 100%;
      float: left;

      .slide1 {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk.jpg") no-repeat;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgb(6, 76, 55))), url("../media/hukuk.jpg") no-repeat;
        background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk.jpg") no-repeat;
        background: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk.jpg") no-repeat;
        background: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk.jpg") no-repeat;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk.jpg") no-repeat;
        background-size: cover;
        background-position: center;
      }

      .slide2 {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk2.jpg") no-repeat;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgb(6, 76, 55))), url("../media/hukuk2.jpg") no-repeat;
        background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk2.jpg") no-repeat;
        background: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk2.jpg") no-repeat;
        background: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk2.jpg") no-repeat;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk2.jpg") no-repeat;
        background-size: cover;
        background-position: center;
      }

      .slide3 {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk3.jpg") no-repeat;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgb(6, 76, 55))), url("../media/hukuk3.jpg") no-repeat;
        background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk3.jpg") no-repeat;
        background: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk3.jpg") no-repeat;
        background: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk3.jpg") no-repeat;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(6, 76, 55) 100%), url("../media/hukuk3.jpg") no-repeat;
        background-size: cover;
        background-position: center;
      }

      .caption {
        position: absolute;
        bottom: 60px;
        left: 60px;
        right: 60px;
        padding: 30px;
        background: rgba(0, 0, 0, .5);
        box-sizing: border-box;
        transition: 0.5s;

        h2 {
          margin: 0 0 20px;
          padding: 0;
          color: #fff;
          font-size: 48px;
          transition: 0.5s;
        }

        p {
          margin: 0;
          padding: 0;
          color: #fff;
          font-size: 20px;
          transition: 0.5s;
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@media (max-width: 768px) {
  .container {
    .slider {
      .slide {
        .caption {
          position: absolute;
          bottom: 20px;
          left: 20px;
          right: 20px;
          padding: 20px;

          h2 {
            margin: 0 0 10px;
            font-size: 30px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}




