{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="col-3 d-flex justify-content-center">
    <div class="card my-4">

        <div class="card-body">
            <h5 class="card-title">{{ makale.title }}</h5>
            <img src="{% static makale.image %}" alt="">

            <p class="card-text outer-wrapper">{{ makale.text }}</p>
        </div>
    </div>
</div>
</body>
</html>